%section.content-header
  %h1
    = t('admin.options.title')
    .pull-right
      = link_to new_admin_option_path, class: 'btn btn-default', title: t('helpers.links.new') do
        %i.fa.fa-plus
%section.content
  .box
    .box-body
      %table.table.table-bordered.table-striped.dataTable
        %thead
          %tr
            %th= t('activerecord.attributes.option.option_group_id')
            %th= t('activerecord.attributes.option.value_ru')
            %th= t('activerecord.attributes.option.value_uk')
            %th= t('activerecord.attributes.option.value_en')
            %th= t('activerecord.attributes.option.column')
            %th= t('activerecord.attributes.option.retail_price')
            %th= t('activerecord.attributes.option.retail_price_currency_id')
            %th= t('activerecord.attributes.option.priority')
            %th= t('helpers.actions')
        %tbody
          - @options.each do |option|
            %tr
              %td= option.option_group.title_ru
              %td= option.value_ru
              %td= option.value_uk
              %td= option.value_en
              %td= option.column
              %td= option.retail_price
              %td= option.retail_price_currency_id
              %td= option.priority
              %td
                = link_to t('helpers.links.show'), admin_option_path(option.id), class:'btn btn-default'
                = link_to t('helpers.links.edit'), edit_admin_option_path(option.id), class:'btn btn-default'
                = link_to t('helpers.links.destroy'), admin_option_path(option.id), method: :delete, class:'btn btn-default', "data-confirm" => "Точно?"