.block-actions
  .row
    %a.block-left{:href => ''}
      = image_tag 'images/img07.jpg'
      %h2
        %span.center= t('main_page.stylish_stockings')
    .block-right
      .block-sale
        %a.box{:href => ''}
          = image_tag 'images/img08.png'
          %h2 Акции
      .block-winter
        %a.box{:href => ''}
          = image_tag 'images/img09.png'
          %h2
            %span.center= t('main_page.winter_collection')