<%= stylesheet_link_tag 'vkolgotkah/categories', media: 'all' %>

<div class="row">
    <article class="post" id="categories-blocks">
    	<% url = @category.url %>
    	<% for cat in @category.categories %>
    		<div class="category-block">
    			<% if cat.image? %>
    				<img src="<%= cat.image.url %>">
    			<% end %>
    			<a href="/<%= url %>/<%= cat.url %>" class="button"><%= cat.name %></a>
    		</div>
    	<% end %>
    </article>
</div>