<%= stylesheet_link_tag 'vkolgotkah/categories', media: 'all' %>

<div class="row">
    <article class="post" id="categories-blocks">
    	<% url = @category.url %>
    	<% for cat in @category.categories %>
    		<a href="/<%= url %>/<%= cat.url %>" class="category-block">
    			<% if cat.image? %>
                    <img src="<%= cat.image.main.url %>">
    				<img class="grayscale" src="<%= cat.image.main.url %>">
    			<% end %>
    			<div class="button"><%= cat.name %></div>
    		</a>
    	<% end %>
    </article>
</div>