%section.content-header
  %h1
    = t('admin.options_groups.title')
    .pull-right
      = link_to new_admin_options_group_path, class: 'btn btn-default', title: t('helpers.links.new') do
        %i.fa.fa-plus
%section.content
  .box
    .box-body
      %table.table.table-bordered.table-striped.dataTable
        %thead
          %tr
            %th= t('activerecord.attributes.options_group.title_ru')
            %th= t('activerecord.attributes.options_group.title_uk')
            %th= t('activerecord.attributes.options_group.title_en')
            %th= t('activerecord.attributes.options_group.constant_name')
        %tbody
          - @options_groups.each do |options_group|
            %tr
              %td= options_group.title_ru
              %td= options_group.title_uk
              %td= options_group.title_en
              %td= options_group.constant_name
              %td
                = link_to t('helpers.links.show'), admin_options_group_path(options_group.id), class:'btn btn-default'
                = link_to t('helpers.links.edit'), edit_admin_options_group_path(options_group.id), class:'btn btn-default'
                = link_to t('helpers.links.destroy'), admin_options_group_path(options_group.id), method: :delete, class:'btn btn-default', "data-confirm" => "Точно?"