%section.content-header
  %h1
    = t('admin.options_groups.title')
    %small= t('helpers.links.new')

%section.content
  .box
    .box-body
      = render 'form'
      = link_to t('helpers.links.back'), admin_options_groups_path, class:'btn btn-primary'
    .box-footer
      = link_to t('helpers.links.create'), 'javascript:', class: 'btn btn-primary', onclick: "$('.new_options_group').submit(); $('body').animate({scrollTop: $('.has-error').offset().top});"


