%section.content-header
  %h1
    = t('admin.products.title')
    %small= t('admin.products.add_image')

%section.content
  .box
    .box-body
      = simple_form_for [:admin, @image], url: admin_product_product_images_path(@product.id), validate: true do |f|
        = f.input :image, input_html: { class: 'btn btn-default' }
        = f.input :title_ru
        = f.input :alt_ru
        = f.input :title_uk
        = f.input :alt_uk
        = f.input :title_en
        = f.input :alt_en
        = f.input :priority, label: t('activerecord.attributes.priority')
        .box-footer
          = f.submit t('helpers.links.create'), class: 'btn btn-primary'