.section-brands
  .row
    %ul.list-brands
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-fiore.gif', alt: 'fiore', class: 'visible'
            = image_tag 'images/ico-fiore-over.gif', alt: 'fiore', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-marilyn.gif', alt: 'marilyn', class: 'visible'
            = image_tag 'images/ico-marilyn-over.gif', alt: 'marilyn', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-sisi.gif', alt: 'sisi', class: 'visible'
            = image_tag 'images/ico-sisi-over.gif', alt: 'sisi', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-gatta.gif', alt: 'gatta', class: 'visible'
            = image_tag 'images/ico-gatta-over.gif', alt: 'gatta', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-golden-lady.gif', alt: 'golden lady', class: 'visible'
            = image_tag 'images/ico-golden-lady-over.gif', alt: 'golden lady', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-minimi.gif', alt: 'minimi', class: 'visible'
            = image_tag 'images/ico-minimi-over.gif', alt: 'minimi', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-omsa.gif', alt: 'omsa', class: 'visible'
            = image_tag 'images/ico-omsa-over.gif', alt: 'omsa', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-girardi.gif', alt: 'girardi', class: 'visible'
            = image_tag 'images/ico-girardi-over.gif', alt: 'girardi', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-franzoni.gif', alt: 'franzoni', class: 'visible'
            = image_tag 'images/ico-franzoni-over.gif', alt: 'franzoni', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-filodoro.gif', alt: 'filodoro', class: 'visible'
            = image_tag 'images/ico-filodoro-over.gif', alt: 'filodoro', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-omero.gif', alt: 'omero', class: 'visible'
            = image_tag 'images/ico-omero-over.gif', alt: 'omero', class: 'over'
      %li
        %span.center
          %a{:href => ''}
            = image_tag 'images/ico-philippe-matignon.gif', alt: 'philippe matignon', class: 'visible'
            = image_tag 'images/ico-philippe-matignon-over.gif', alt: 'philippe matignon', class: 'over'