%header#header
  .row
    %form.search-form{action: '#'}
      %fieldset
        %input{placeholder: t('search_placeholder'), type: 'text'}/
        %input{type: 'submit', value: t('search_placeholder')}/
    %nav.add-nav
      %ul
        %li
          %a{href: ''}= t('registration')
        %li
          %a{href: ''}= t('enter')
        %li
          %form{action: '#'}
            %fieldset
              %select#setCurrency.currency-select
                - Currency.select("title_#{I18n.locale}", :constant_name, :id, :value).each do |currency|
                  - id = currency.id
                  - h = {value: "#{currency.value},#{currency.constant_name},#{id}"}
                  - h[:selected] = true if id == $currency_id
                  %option{h}= currency.title
        %li
          %a.cart{href: ''}
            = t('cart') + ':'
            %strong 2
%nav#nav.slide-holder
  .row
    .slide-block
      %ul
        %li
          %a{href: send("women_#{I18n.locale}_path")}= t('main_menu.for_women')
        %li
          %a{href: send("men_#{I18n.locale}_path")}= t('main_menu.for_men')
        %li
          %a{href: send("child_#{I18n.locale}_path")}= t('main_menu.for_children')
      %ul
        %li
          %a{href: '#'}= t('main_menu.wholesale_customers')
        %li
          %a{href: '#'}= t('main_menu.bestsellers')
        %li
          %a{href: '#'}= t('main_menu.sale')
    %strong.logo
      %a{href: '/'}= t('application_name')
    %a.opener{href: ''}= t('main_menu.menu')
