<% collection.each do |p| %>
	<li>
		<% if record = p.images.first
			image = record.image %>
			<div class="image">
				<a href="">
					<img src="<%= image.url :medium %>" title="<%= record.title %>" alt="<%= record.alt %>">
				</a>
				<a data-rel="lightbox" class="visual-icon" href="<%= image.url %>" rel="lightbox"></a>
			</div>
		<% end %>
		<strong class="title"><a href=""><%= p.title %></a></strong>
		<div class="item-row">
			<a class="add-cart" href="">В корзину</a>
			<span class="price" data-price="<%= p.retail_price %>"><%= raw p.price %></span>
		</div>
	</li>
<% end %>