%section.content-header
  %h1
    = t('admin.warehouse.title')
    %small= t('helpers.links.edit')

%section.content
  .box
    .box-body
      = render 'form'
    .box-footer
      = link_to t('helpers.links.edit'), 'javascript:', class: 'btn btn-primary', onclick: "$('.edit_warehouse').submit(); $('body').animate({scrollTop: $('.has-error').offset().top});"
      = link_to 'Back', admin_warehouse_path, class: 'btn btn-primary'
