%section.content-header
  %h1
    = t('admin.currencies.title')
    .pull-right
      = link_to new_admin_currency_path, class: 'btn btn-default', title: t('helpers.links.new') do
        %i.fa.fa-plus
%section.content
  .box
    -#.box-header
    -#  %h3.box-title Data Table With Full Features
    .box-body
      %table.table.table-bordered.table-striped.dataTable
        %thead
          %tr
            %th= t('helpers.actions')
            %th= t('activerecord.attributes.currency.value')
            %th= t('activerecord.attributes.currency.constant_name')
            %th= t('activerecord.attributes.currency.title_ru')
            %th= t('activerecord.attributes.currency.title_uk')
            %th= t('activerecord.attributes.currency.title_en')
        %tbody
          - @currencies.each do |currency|
            %tr
              %td
                = link_to t('helpers.links.show'), admin_currency_path(currency.id)
                = link_to t('helpers.links.edit'), edit_admin_currency_path(currency.id)
                = link_to t('helpers.links.destroy'), admin_currency_path(currency.id), method: :delete, "data-confirm" => "Точно?"
              %td= currency.value
              %td= currency.constant_name
              %td= currency.title_ru
              %td= currency.title_uk
              %td= currency.title_en