- unless @product.new_record?
  %ul.nav.nav-tabs
    %li.active
      %a{ 'data-toggle': 'tab', href: '#inf' }= t('admin.products.information')
    %li
      %a{ 'data-toggle': 'tab', href: '#img' }= t('admin.images.title')

- pages = Page.select :id, :title_ru
- currencies = Currency.select :id, :title_ru

.box-body.tab-content
  #inf.tab-pane.active
    = simple_form_for [:admin, @product], validate: true do |f|
      = f.input :title_ru
      = f.input :description_ru
      = f.input :url_ru
      = f.input :title_uk
      = f.input :description_uk
      = f.input :url_uk
      = f.input :title_en
      = f.input :description_en
      = f.input :url_en
      = f.input :priority, label: t('activerecord.attributes.priority')
      = f.input :category_id, collection: Category.select(:id, :name_ru), label_method: :name_ru, input_html: { class: 'select2' }
      = f.input :page_ids, collection: pages, label_method: :title_ru, input_html: { class: 'select2', multiple: true }
      = f.input :site_ids, collection: Site.select(:id, :title_ru), label_method: :title_ru, input_html: { class: 'select2', multiple: true }
      = f.input :retail_price
      = f.input :retail_price_currency_id, selected: (@product.retail_price_currency_id or currencies.first.id), collection: currencies, label_method: :title_ru, input_html: { class: 'select2' }
      = f.input :wholesale_price
      = f.input :wholesale_price_currency_id, selected: (@product.wholesale_price_currency_id or currencies.first.id), collection: currencies, label_method: :title_ru, input_html: { class: 'select2' }
      = f.input :special_price
      = f.input :special_price_currency_id, selected: (@product.special_price_currency_id or currencies.first.id), collection: currencies, label_method: :title_ru, input_html: { class: 'select2' }
      = f.input :special_link_id
      = f.input :active, label: t('activerecord.attributes.active')
      - category = @product.category
      - if category
        - category.option_groups.select(:id, "title_#{locale}").to_a.uniq.each do |option_group|
          .box
            .box-header.with-border
              .box-title= option_group["title_#{locale}"]
            .box-body
              = f.input :option_ids, collection: option_group.options.select(:id, "value_#{locale}"), label_method: "value_#{locale}", input_html: { class: 'select2', multiple: true }

  - unless @product.new_record?
    #img.tab-pane
      %table.table.table-bordered.table-striped.dataTable
        %thead
          %tr
            %th= t('activerecord.attributes.image.image')
            %th= t('activerecord.attributes.image.title_ru')
            %th= t('activerecord.attributes.image.alt_ru')
            %th= t('activerecord.attributes.image.title_uk')
            %th= t('activerecord.attributes.image.alt_uk')
            %th= t('activerecord.attributes.image.title_en')
            %th= t('activerecord.attributes.image.alt_en')
            %th= t('activerecord.attributes.priority')
            %th= t('helpers.actions')

        %tbody
          - @product.images.each do |product_image|
            %tr
              %td= image_tag product_image.image_url, class: 'medium_img'
              %td= product_image.title_ru
              %td= product_image.alt_ru
              %td= product_image.title_uk
              %td= product_image.alt_uk
              %td= product_image.title_en
              %td= product_image.alt_en
              %td= product_image.priority
              %td
                = link_to t('helpers.links.destroy'), admin_product_product_image_path(@product.id, product_image.id), method: :delete

    :javascript
      currencies = #{currencies.to_json}
      locale = "#{locale}"