<div class="row" id="main">
    <aside class="slide-holder" id="sidebar">
        <h2 class="headline opener">Фильтр</h2>
        <form onchange="filterChange(event)" class="form-filter slide-block" action="#">
            <div class="block-chosen">
                <span class="title">вы выбрали</span>
                <ul class="list-chosen">
                    <li>
                        <a class="delete" href="">Удалить</a>
                        <span class="red">Бренды:</span>
                        <span>Gatta</span>
                    </li>
                    <li>
                        <a class="delete" href="">Удалить</a>
                        <span class="red">Цвет: </span>
                        <span class="square flesh"></span>
                        <span>Телесный</span>
                    </li>
                    <li>
                        <a class="delete" href="">Удалить</a>
                        <span class="red">Состав:</span>
                        <span>Нейлон</span>
                    </li>
                </ul>
                <input value="очистить фильтр" type="reset"/>
            </div>
            <fieldset>
                <ul class="accordion">
                    <li class="active">
                        <a class="opener" href="">Цена <span class="small">(грн)</span></a>
                        <div class="slide">
                            <div class="slide-holder">
                                <div class="price-slider">
                                    <div class="input-box">
                                        <input id="price" type="text" />
                                        <input id="price2" type="text" />
                                    </div>
                                    <div id="slider_price"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% @option_groups.each_with_index do |option_group, index| %>
                        <li<% if option_group.visible %> class="active"<% end %>>
                            <a class="opener" href=""><%= option_group.title %></a>
                            <div class="slide">
                                <div class="slide-holder">
                                    <% if option_group.field_type == 'string' %>
                                        <% if option_group.columns == 1 %>
                                            <% @options[index].sort{|a, b| a.priority <=> b.priority}.each do |option| %>
                                                <div class="form-row check-row">
                                                    <label><input<% if @checked_options.include? option.id %> checked<% end %> value="<%= option.id %>" type="checkbox"/> <%= option.value %></label>
                                                </div>
                                            <% end %>
                                        <% else %>
                                            <% options = @options[index].sort{|a, b| a.priority <=> b.priority} %>
                                            <div class="sizes-columns">
                                                <% (1..option_group.columns).each do |column| %>
                                                    <div class="sizes-column">
                                                        <% options.find_all{|o| o.column == column}.each do |option| %>
                                                            <div class="form-row check-row">
                                                                <label><input<% if @checked_options.include? option.id %> checked<% end %> value="<%= option.id %>" type="checkbox"/> <%= option.value %></label>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                <% end %>
                                            </div>
                                        <% end %>
                                    <% else %>
                                        <ul class="list-colors">
                                            <% @options[index].each do |option| %>
                                                <% value = option.value %>
                                                <% color = value[0..5] %>
                                                <li>
                                                    <label><input<% if @checked_options.include? option.id %> checked<% end %> value="<%= option.id %>" type="checkbox"><span class="square" style="background:#<%= color %>"></span></label>
                                                    <div class="tooltip">
                                                        <span class="square" style="background:#<%= color %>"></span>
                                                        <%= value[6..-1] %>
                                                    </div>
                                                </li>
                                            <% end %>
                                        </ul>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </fieldset>
        </form>
    </aside>
    <div id="content">
        <div class="content-holder">
            <ul class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><%= @parent.name %></li>
            </ul>
            <h1 class="headline"><%= @category.name %></h1>
            <form class="form-sort" action="#">
                <fieldset>
                    <div class="select-block">
                        <label for="sort">Сортировка</label>
                        <select id="sort">
                            <option<%= @sort == 'default' and ' selected' or '' %> value="default">По умолчанию</option>
                            <option<%= @sort == 'priceAsc' and ' selected' or '' %> value="priceAsc">от дешевых к дорогим</option>
                            <option<%= @sort == 'priceDesc' and ' selected' or '' %> value="priceDesc">от дорогих к дешевым</option>
                            <option<%= @sort == 'popular' and ' selected' or '' %> value="popular">популярные</option>
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="show">Показать</label>
                        <select id="show">
                            <% [12, 24, 36].each do |value| %>
                                <option
                                    <% if value == @show %>
                                        selected
                                    <% end %>
                                ><%= value %></option>
                            <% end %>
                        </select>
                    </div>
                    <ul class="paging"></ul>
                </fieldset>
            </form>
            <ul class="list-catalog" id="products">
                <%= render 'vkolgotkah/products/product', collection: @products %>
            </ul>
            <form class="form-sort bottom" action="#">
                <fieldset>
                    <ul class="paging"></ul>
                </fieldset>
            </form>
            <article class="catalog-article">
                <h3><%= @category.name %></h3>
                <%= sanitize @category.text %>
            </article>
        </div>
    </div>
</div>
<script type="text/javascript">
    filterOptions = {id: <%= @category.id %>, authenticity_token: "<%= form_authenticity_token %>", options: <%= @checked_options.to_json %>}
    lang = "<%= I18n.locale %>"
    curPage = <%= @page %>
    setPaging(<%= @total_page %>)
    <% if params[:min] %>
    filterOptions.min = <%= params[:min] %>
    <% end %>
    <% if params[:max] %>
    filterOptions.max = <%= params[:max] %>
    <% end %>
    sliderPrice(<%= @from %>, <%= @to %>)
</script>