#main.row
  .content-holder
    %ul.breadcrumbs
      %li
        %a{href: ''} Главная
      %li= @parent.name
    %h1.headline= @category.name
    %form.form-product{action: '#'}
      %fieldset
        .block-product
          %img.alignleft{alt: '', src: "#{image_path 'images/img01.jpg'}"}/
          .text-block
            %h2
              = @category.name
              %strong= @product.title
            .info-block
              %dl
                %dt Изготовитель:
                %dd Польша
                %dt Модель:
                %dd 12345
                %dt Наличие:
                %dd Есть в наличии
            .info-block
              %span.price
                Цена:
                %strong 67.50
                %span.small грн.
            .info-block.select-holder
              - @groups.each do |group_id, group|
                - options = group[:options]
                - p options
                .form-row
                  .text-row
                    %label{for: 'size'}= group[:title] + ':'
                  %select#size
                    %option 1
                    %option 2
                    %option 3
                    %option 4
              / .form-row
              /   .text-row
              /     %label{for: 'color'} Цвет:
              /   %select#color.color-select
              /     %option{title: "#{image_path 'images/color-black.gif'}"}
              /     %option{title: "#{image_path 'images/color-beige.gif'}"}
              /     %option{title: "#{image_path 'images/color-gray.gif'}"}
            .info-block
              .row-qty
                %label Количество:
                %input.spinner{readonly: 'readonly', type: 'text', value: '1'}/
                %input{type: 'submit', value: 'КУПИТЬ'}/
    %ul.tabset
      %li
        %a.active{href: '#about'} Описание
      %li
        %a{href: '#delivery'} Доставка и оплата
      %li
        %a{href: '#testimonials'} Отзывы
    .tabs-content
      #about
        %p В интернет-магазине Вколготках можно купить колготки, чулки и леггинсы по доступной цене без предоплаты. На нашем сайте представлены только качественные вещи от надежных производителей. Купите себе колготки, или необходимый товар и Вы сами в этом убедитесь.
        %p Доставка осуществляется по всей Украине: Черкассы, Киев, Харьков, Одесса, Днепропетровск, Львов, Донецк, Запорожье, Симферополь, Николаев, Луганск, Винница, Севастополь, Херсон, Полтава, Житомир, Кривой Рог, Чернигов, Хмельницкий, Ровно.
        %p Мариуполь, Сумы, Кировоград, Тернополь, Ужгород, Черновцы, Кременчуг, Луцк, Алчевск, Павлоград, Ивано-Франковск.
      #delivery
        %p В интернет-магазине Вколготках можно купить колготки, чулки и леггинсы по доступной цене без предоплаты. На нашем сайте представлены только качественные вещи от надежных производителей. Купите себе колготки, или необходимый товар и Вы сами в этом убедитесь.
        %p Николаев, Луганск, Винница, Севастополь, Херсон, Полтава, Житомир, Кривой Рог, Чернигов, Хмельницкий, Ровно.
        %p Мариуполь, Сумы, Кировоград, Тернополь, Ужгород, Черновцы, Кременчуг, Луцк, Алчевск, Павлоград, Ивано-Франковск.
      #testimonials
        %p В интернет-магазине Вколготках можно купить колготки, чулки и леггинсы по доступной цене без предоплаты. На нашем сайте представлены только качественные вещи от надежных производителей. Купите себе колготки, или необходимый товар и Вы сами в этом убедитесь.
        %p Доставка осуществляется по всей Украине: Черкассы, Киев, Харьков, Одесса, Днепропетровск, Львов, Донецк, Запорожье, Симферополь, Николаев, Луганск, Винница, Севастополь, Херсон, Полтава, Житомир, Кривой Рог, Чернигов, Хмельницкий, Ровно.
    %section.section-similar
      .row
        %h1.headline-center
          %span.center= t('related_products')
        %ul.list-catalog
          = render partial: 'vkolgotkah/products/product', collection: Product.limit(4), locals: { url: 'link'}