#main.row
  -#%article.post= sanitize @page.description
  #content
    .content-holder
      %ul.breadcrumbs
        %li
          %a{:href => ""} Главная
        %li Корзина
      %h1.headline= @product.category.name
      %form.form-product{:action => "#"}
        %fieldset
          .block-product
            %img.alignleft{:alt => "", :src => "#{image_path 'images/img05.jpg'}"}/
            .text-block
              %h2
                = @product.category.name
                %strong= @product.title
              .info-block
                %dl
                  - @product.main_options.each do |option|
                    %dt= "#{option.option_group.title}:"
                    %dd= option.value
                  %dt Наличие:
                  %dd Есть в наличии
              .info-block
                %span.price
                  Цена:
                  = @product.price.html_safe
              .info-block.select-holder
                .form-row
                  .text-row
                    %label{:for => "size"} Размер:
                  %select#size
                    %option 1
                    %option 2
                    - @product.size_options do |option|
                      %option= option.value
                .form-row
                  .text-row
                    %label{:for => "color"} Цвет:
                  %select#color.color-select
                    - @product.color_options do |option|
                      %option
                        .color-container{style: "background-color: ##{option.value[0..5]}"}
              .info-block
                .row-qty
                  %label Количество:
                  %input.spinner{:readonly => "readonly", :type => "text", :value => "1"}/
                  %input{:type => "submit", :value => "КУПИТЬ"}/
      %ul.tabset
        %li
          %a.active{:href => "#about"} Описание
        %li
          %a{:href => "#delivery"} Доставка и оплата
        %li
          %a{:href => "#testimonials"} Отзывы
      .tabs-content
        #about
          %p В интернет-магазине Вколготках можно купить колготки, чулки и леггинсы по доступной цене без предоплаты. На нашем сайте представлены только качественные вещи от надежных производителей. Купите себе колготки, или необходимый товар и Вы сами в этом убедитесь.
          %p Доставка осуществляется по всей Украине: Черкассы, Киев, Харьков, Одесса, Днепропетровск, Львов, Донецк, Запорожье, Симферополь, Николаев, Луганск, Винница, Севастополь, Херсон, Полтава, Житомир, Кривой Рог, Чернигов, Хмельницкий, Ровно.
          %p Мариуполь, Сумы, Кировоград, Тернополь, Ужгород, Черновцы, Кременчуг, Луцк, Алчевск, Павлоград, Ивано-Франковск.
        #delivery
          %p В интернет-магазине Вколготках можно купить колготки, чулки и леггинсы по доступной цене без предоплаты. На нашем сайте представлены только качественные вещи от надежных производителей. Купите себе колготки, или необходимый товар и Вы сами в этом убедитесь.
          %p Николаев, Луганск, Винница, Севастополь, Херсон, Полтава, Житомир, Кривой Рог, Чернигов, Хмельницкий, Ровно.
          %p Мариуполь, Сумы, Кировоград, Тернополь, Ужгород, Черновцы, Кременчуг, Луцк, Алчевск, Павлоград, Ивано-Франковск.
        #testimonials
          %p В интернет-магазине Вколготках можно купить колготки, чулки и леггинсы по доступной цене без предоплаты. На нашем сайте представлены только качественные вещи от надежных производителей. Купите себе колготки, или необходимый товар и Вы сами в этом убедитесь.
          %p Доставка осуществляется по всей Украине: Черкассы, Киев, Харьков, Одесса, Днепропетровск, Львов, Донецк, Запорожье, Симферополь, Николаев, Луганск, Винница, Севастополь, Херсон, Полтава, Житомир, Кривой Рог, Чернигов, Хмельницкий, Ровно.
      %section.section-similar
        %h1.headline-center
          %span.center ПОХОЖИЕ ТОВАРЫ
        %ul.list-catalog
          %li
            %a.visual-link{"data-rel" => "lightbox", :href => "images/img02.jpg"}
              %img{:alt => "", :src => "images/img02.jpg"}/
            %strong.title
              %a{:href => ""} Колготки Gisele 09 - 20 den
            .item-row
              %a.add-cart{:href => ""} В корзину
              %span.price
                %strong 70.88
                грн
          %li
            %a.visual-link{"data-rel" => "lightbox", :href => "images/img03.jpg"}
              %img{:alt => "", :src => "images/img03.jpg"}/
            %strong.title
              %a{:href => ""} Колготки Sweety 04 - 20 den
            .item-row
              %a.add-cart{:href => ""} В корзину
              %span.price
                %strong 67.50
                грн
          %li
            %a.visual-link{"data-rel" => "lightbox", :href => "images/img02.jpg"}
              %img{:alt => "", :src => "images/img04.jpg"}/
            %strong.title
              %a{:href => ""} Колготки Tancia 04 - 50 den
            .item-row
              %a.add-cart{:href => ""} В корзину
              %span.price
                %strong 70.88
                грн
